<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>
    <link href="../../static/css/neon.css" rel="stylesheet">
    <link href="../static/css/woow.css" rel="stylesheet">

</head>
<body style="background: url(../static/images/imgonline-com-ua-Resize-AqVHPhuJ4R6Om.jpg)">
<header th:insert="blocks/headerTeam"></header>
<center>
    <h3>
        My lineup
    </h3>
    <table border="3" width="50%">
        <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Position</th>
            <th colspan="3">
                <center>Actions</center>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${players.empty}">
            <td colspan="4" scope="col"><h4>No players available</h4></td>
        </tr>
        <tr th:each="el : ${players}">
            <td>
                <h3 th:text="${el.player_name}"/>
            </td>

            <td>
                <h3 th:text="${el.player_surname}"/>
            </td>

            <td>
                <h3 th:text="${el.position}"/>
            </td>


            <td>
                <center>
                    <a th:href="'/team/' + ${team_id}"
                       class="custom-btn btn-3">INFO</a>
                    <a th:href="'/team/'+${team_id}+ '/players/'+${el.player_id}+'/edit'" class="custom-btn btn-8">EDIT</a>

                    <a class="custom-btn btn-7" data-bs-toggle="modal"
                       data-bs-target="#exampleModal">DELETE</a>

                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <center>
                                        <h3 class="modal-title" id="exampleModalLabel">Removing a player</h3>
                                    </center>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to remove a player from this team?
                                </div>
                                <div class="modal-footer">
                                    <form th:action="'/team/'+${team_id}+ '/players/'+${el.player_id}+'/remove'" method="post">
                                        <button class="btn btn-danger" type="submit">YES</button>
                                    </form>
                                    <button class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </center>
            </td>
        </tr>
        </tbody>
    </table>

    <a th:href="'/team/'+${team_id}+ '/players/addPlayer'" class="gradient-button1">ADD PLAYER</a>
    <a th:href="'/team/' + ${teamId}" class="gradient-button1">BACK</a>

</center>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>