<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>
    <link href="../../static/css/neon.css" rel="stylesheet">
    <link href="../static/css/button-small.css" rel="stylesheet" th:href="@{/css/button-small.css}">
    <link href="../static/css/button.css" rel="stylesheet" th:href="@{/css/button.css}">
    <link href="../static/css/top.css" rel="stylesheet" th:href="@{/css/top.css}">
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
    <link href="../static/css/table.css" rel="stylesheet" th:href="@{/css/table.css}">
    <link href="../static/css/center.css" rel="stylesheet" th:href="@{/css/center.css}">
    <link href="../static/css/neon.css" rel="stylesheet" th:href="@{/css/neon.css}">
    <meta http-equiv="content-type" content="text/html; charset=windows-1251"/>
    <link rel="stylesheet" type="text/css" href="#" media="#"/>
    <script type="text/javascript">
        function randomImg() {
            var imgAr = ['<img src="/images/rain_weather_icon_151998.png"</br><p>Rain<p/>',
                '<img src="/images/sunny_sunshine_weather_2778.png"</br><p>Sunny<p/>',
                '<img src="/images/sunny_weather_icon_150663.png"</br><p>Cloudy<p/>'];
            var rnd = Math.floor(Math.random() * imgAr.length);
            var rndImg = imgAr[rnd];
            var imgTag = document.getElementById('img');
            imgTag.innerHTML = rndImg;
        }
        window.onload = randomImg;
    </script>
</head>
<body th:style="'background: url(/images/imgonline-com-ua-Resize-Vdf4lo3tsOP.jpg)'">

<table border="3" width="50%">

    <tr>

        <th>
            <center>Teams</center>
        </th>
        <th>
            <center>Stadium</center>
        </th>

        <th>
            <center>Weather</center>
        </th>

        <th>
            <center>Attendance</center>
        </th>

        <th>
            <center>Referee</center>
        </th>
    </tr>


    <tr>

        <td>
            <center><h4 th:text="${game.teamGame.team_name}"/>
                <p>VS</p>
                <h4 th:text="${game.opponent_name}"/></center>
        </td>

        <td>
            <center>
                <img src="/images/imgonline-com-ua-Resize-V2qLvdzIh5t.png"/>
            </center>
            <center><h4 th:text="${game.teamGame.stadium}"/></center>
        </td>

        <td>
            <center>
                <div id="img"></div>
            </center>
        </td>

        <td>
            <center>
                <img src="/images/imgonline-com-ua-Resize-7XKhmxXxCQDs.png"/>
            </center>
            <h4 th:text="${attendance}"/>
        </td>

        <td>
            <center>
                <img src="/images/imgonline-com-ua-Resize-Gujft093lSy0Z.png"/>
            </center>
            <h4 th:text="${referee}"/>
        </td>

    </tr>

</table>
<center>
    <a th:href="'/teams/'+${team_id}+ '/games/'+${game.id}+'/play/startling'" class="custom-btn btn-4">START!</a>
    <a th:href="'/teams/' +${team_id}+ '/games/'" class="custom-btn btn-1">BACK</a>
</center>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>