<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<!--    <link href="../static/css/woow.css" rel="stylesheet">-->
    <link href="../static/css/button-small.css" rel="stylesheet">
    <link href="../static/css/button.css" rel="stylesheet">
    <script type="text/javascript" th:src="@{../static/js/carousel.js}"></script>
    <script type="text/javascript" src="../static/css/carousel.css"></script>
    <link href="../static/css/carousel.css" rel="stylesheet" th:href="@{../static/css/carousel.css}">
    <style>
        h3 {
            /*background: #D9FFAD; !* Цвет фона под заголовком *!*/
            color: white; /* Цвет текста */
            /*padding: 2px; !* Поля вокруг текста *!*/
        }
    </style>
</head>

<body>
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
            <div class="carousel-caption d-none d-md-block">
                <h3>First slide label</h3>
                <p style="color: white;">Some representative placeholder content for the first slide.</p>
            </div>
            <img src="../static/images/soccer-9.jpg" class="d-block w-100" alt="...">

        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <div class="carousel-caption d-none d-md-block">
                <h3>Second slide label</h3>
                <p style="color: white">Some representative placeholder content for the second slide.</p>
            </div>
            <img src="../static/images/fantasy-football-zoom-backgrounds-9-scaled.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <div class="carousel-caption d-none d-md-block">
                <h3>Third slide label</h3>
                <p style="color: white">Some representative placeholder content for the third slide.</p>
            </div>
            <img src="../static/images/imgonline-com-ua-convertvrejAsYBwRmp.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="page-header">
    <main>
        <article id="hero-1" style="--i: 5">
            <div class="hero-info">
                <h1>FOOTBALL CLUB</h1>
                <a class="gradient-button1" href="/team">MY TEAM</a>
            </div>
        </article>
    </main>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="../static/js/carousel.js"></script>
</body>
</html>
