<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>
    <link href="../static/css/modal.css" rel="stylesheet" th:href="@{/css/modal.css}">
    <link href="../static/css/neon.css" rel="stylesheet" th:href="@{/css/neon.css}">
    <link href="../static/css/login.css" rel="stylesheet" th:href="@{../static/css/login.css}">
    <title>Please Log In</title>
    <script type="text/javascript">
        var delay_popup = 500;
        setTimeout("document.getElementById('bg_popup').style.display='block'", delay_popup);
    </script>
</head>
<body th:style="'background: url(/images/3922_Perspektive_c01.jpg)'">

<div id="bg_popup">
    <div id="popup">
        <div class="login-box">
            <h2>Login</h2>
            <form th:action="@{/login}" method="post">
                <div style="color: red" th:if="${param.error}">
                    Invalid username and password
                </div>
                <div style="color: red" th:if="${param.logout}">
                    You have been logged out
                </div>
                <div class="user-box">
                    <input type="text" name="username" required="">
                    <label>Username</label>
                </div>
                <div class="user-box">
                    <input type="password" name="password" required="">
                    <label>Password</label>
                </div>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <center>
                    <input class="custom-btn btn-6" type="submit"
                           onclick="document.getElementById('bg_popup').style.display='none';" value="Submit"/>
                </center>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>
