<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>
    <link href="../static/css/neon.css" rel="stylesheet">
    <link href="../static/css/woow.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
    <link href="../static/css/stats.css" rel="stylesheet" th:href="@{/css/stats.css}">
    <link href="../static/css/neon.css" rel="stylesheet" th:href="@{/css/neon.css}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <style>
        h2 {
            color: black; /* Цвет текста */
        }
    </style>
</head>
<body>

<div class="grey-bg container-fluid">
    <section id="minimal-statistics">

        <div class="row">
            <div class="col-12 mt-3 mb-1">
                <center>
                    <h3 class="text-uppercase" th:text="${team.team_name +' '+ team.city}"/>
                </center>

                <p th:text="#{stats_3}"></p>
            </div>
        </div>

        <div class="row">

            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="media-body text-left">
                                    <span th:text="#{total_games}"></span>
                                    <h2 style="color: black" th:text="${countGame}"/><br>
                                </div>
                                <div class="align-self-center">
                                    <img src="/images/field-football_icon-icons.com_66627.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="media-body text-left">
                                    <span th:text="#{win}"></span>
                                    <h3 class="success" th:text="${countWinGame}"></h3><br>
                                    <h3 class="success" th:text="${win}+' %'"></h3>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="media-body text-left">
                                    <span th:text="#{draw}"></span>
                                    <h3 class="info" th:text="${countDrawGame}"></h3><br>
                                    <h3 class="info" th:text="${draw}+' %'"></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="media-body text-left">
                                    <span th:text="#{lose}"></span>
                                    <h3 class="danger" th:text="${countLoseGame}"></h3><br>
                                    <h3 class="danger" th:text="${lose}+' %'"></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section id="stats-subtitle">
        <div class="row">
            <div class="col-12 mt-3 mb-1">
                <p th:text="#{detailed_stats}"></p>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-6 col-md-12">
                <div class="card overflow-hidden">
                    <div class="card-content">
                        <div class="card-body cleartfix">
                            <div class="media align-items-stretch">
                                <div class="align-self-center">
                                    <img src="/images/football256_24897.png">
                                </div>
                                <div class="media-body">
                                    <h4 th:text="#{goal_scored}"></h4>
                                </div>
                                <div class="align-self-center">
                                    <h3 style="color: black" th:text="${countGoalScore}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-md-12">
                <div class="card overflow-hidden">
                    <div class="card-content">
                        <div class="card-body cleartfix">
                            <div class="media align-items-stretch">
                                <div class="align-self-center">
                                    <img src="/images/Football_2-36_icon-icons.com_72119.png">
                                </div>
                                <div class="media-body">
                                    <h4 th:text="#{goal_conceded}"></h4>
                                </div>
                                <div class="align-self-center">
                                    <h3 style="color: black" th:text="${countGoalConceded}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-md-12">
                <div class="card overflow-hidden">
                    <div class="card-content">
                        <div class="card-body cleartfix">
                            <div class="media align-items-stretch">
                                <div class="align-self-center">
                                    <img src="/images/Football_2-45_icon-icons.com_72118.png">
                                </div>
                                <div class="media-body">
                                    <h4 th:text="#{total_yellow_card}"></h4>
                                </div>
                                <div class="align-self-center">
                                    <h3 style="color: black" th:text="${countYellowCard}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-md-12">
                <div class="card overflow-hidden">
                    <div class="card-content">
                        <div class="card-body cleartfix">
                            <div class="media align-items-stretch">
                                <div class="align-self-center">
                                    <img src="/images/Football_2-50_icon-icons.com_72106.png">
                                </div>
                                <div class="media-body">
                                    <h4 th:text="#{total_red_card}"></h4>
                                </div>
                                <div class="align-self-center">
                                    <h3 style="color: black" th:text="${countRedCard}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <center>
        <a th:href="'/teams/'+${team_id}+ '/statistics/learnMore'" class="custom-btn btn-4" th:text="#{learn_more}"></a>
        <a th:href="'/teams/' + ${teamId}" class="custom-btn btn-2" th:text="#{back}"></a><br><br>
    </center>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>