<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Creation of teams</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link href="../../static/css/top.css" rel="stylesheet">
    <link href="../../static/css/style.css" rel="stylesheet">
    <link href="../../static/css/table.css" rel="stylesheet">
    <link href="../../static/css/center.css" rel="stylesheet">
</head>
<body style="background: url(../static/images/imgonline-com-ua-Resize-MdZBEQ3BJR.jpg)">

<header th:insert="blocks/header"></header>

<div class="container mt-5 mb-5">
    <center><h3>Adding a new command</h3></center>
    <form action="/team/add" method="post">
        <input type="text" name="name" placeholder="Enter the title" class="form-control"></br>
        <input type="text" name="city" placeholder="Enter city" class="form-control"></br>
        <input type="text" name="country" placeholder="Enter country" class="form-control"></br>
        <input type="text" name="stadium" placeholder="Enter stadium name" class="form-control"></br>
        <input type="text" name="coach" placeholder="Enter the trainer's first and last name" class="form-control"></br>
        </br>
        <button type="submit" class="btn btn-success">ADD TEAM</button>
        <a th:href="'/team'" class="btn btn-primary">BACK</a>
    </form>
</div>

<!--<div th:insert="blocks/footer :: footer"></div>-->
<!--<script type="text/javascript" src="../static/js/validation.js"></script>-->
</body>
</html>