<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>
    <link href="../../static/css/neon.css" rel="stylesheet">
    <link href="../static/css/woow.css" rel="stylesheet">
    <style>
        h4 {
            color: blue; /* Цвет текста */
        }
    </style>

</head>
<body th:style="'background: url(/images/220421-soc.jpeg)'">
<header th:insert="blocks/headerTeam"></header>
<center>
    <table class="table table-striped" border="3" width="50%">
        <thead>
        <tr>
            <th>
                <center th:text="#{opponent}"></center>
            </th>
            <th colspan="3">
                <center th:text="#{actions}"></center>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-light" th:if="${games.empty}">
            <td colspan="3" scope="col"><h4 th:text="#{no_games}"></h4></td>
        </tr>
        <tr class="table-light" th:each="el : ${games}">
            <td>
                <br>
                <h3 th:text="${el.opponent_name}"/>
            </td>


            <td>
                <a th:href="'/teams/'+${team_id}+ '/games/'+${el.id}+'/play'"
                   class="custom-btn btn-3"><span th:text="#{play_2}"></span></a>
                <a th:href="'/teams/'+${team_id}+ '/games/'+${el.id}+'/edit'" class="custom-btn btn-4"><span
                        th:text="#{edit_2}"></span></a>

                <form th:action="'/teams/'+${team_id}+ '/games/'+${el.id}+'/remove'" method="post">
                    <button class="custom-btn btn-8" type="submit" th:text="#{refuse}"></button>
                </form>

            </td>
        </tr>
        </tbody>
    </table>

    <a th:href="'/teams/'+${team_id}+ '/games/createGame'" class="gradient-button1" th:text="#{new_game}"></a>
    <a th:href="'/teams/' + ${teamId}" class="gradient-button1" th:text="#{back}"></a>

</center>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>