<!DOCTYPE HTML>

<html>
<head>
    <link href="../static/css/button-small.css" rel="stylesheet" th:href="@{/css/button-small.css}">
    <link href="../static/css/button.css" rel="stylesheet" th:href="@{/css/button.css}">
    <link href="../static/css/top.css" rel="stylesheet" th:href="@{/css/top.css}">
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
    <link href="../static/css/table.css" rel="stylesheet" th:href="@{/css/table.css}">
    <link href="../static/css/center.css" rel="stylesheet" th:href="@{/css/center.css}">
    <link href="../static/css/neon.css" rel="stylesheet" th:href="@{/css/neon.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>
    <style>
        a:link {
            text-decoration: none;
        }
    </style>
</head>
<body>
<div class="topnav">
    <a class="active" href="/">Main page</a>
    <a th:href="'/teams/'+${team_id}+ '/games' ">Play games</a>
    <a th:href="'/teams/'+${team_id}+ '/players' ">Team line-up</a>
    <a th:href="'/teams/'+${team_id}+ '/statistics' ">Team statistics</a>

    <form class="form-inline my-2 my-lg-2" method="post" th:action="@{/logout}">
        <div>
            <button style="float: right;margin-right: 2%" class="btn btn-outline-light" type="submit">Logout</button>
        </div>
    </form>

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>