<!DOCTYPE HTML>

<html>
<link href="../../static/css/button-small.css" rel="stylesheet">
<link href="../../static/css/button.css" rel="stylesheet">
<link href="../../static/css/top.css" rel="stylesheet">
<link href="../../static/css/style.css" rel="stylesheet">
<link href="../../static/css/table.css" rel="stylesheet">
<link href="../../static/css/center.css" rel="stylesheet">

<style>
    a:link {
        text-decoration: none;
    }
</style>
<body>

<div class="topnav">
    <a class="active" href="/">Main page</a>

    <a href="https://www.euro-football.ru/">Football news</a>
</div>

</body>
</html>