<!DOCTYPE HTML>

<html>
<link href="/static/css/button-small.css" rel="stylesheet" th:href="@{/static/css/button-small.css}">
<link href="/static/css/button.css" rel="stylesheet" th:href="@{/static/css/button.css}">
<link href="/static/css/top.css" rel="stylesheet" th:href="@{/static/css/top.css}">
<link href="/static/css/style.css" rel="stylesheet" th:href="@{/static/css/style.css}">
<link href="/static/css/table.css" rel="stylesheet" th:href="@{/static/css/table.css}">
<link href="/static/css/center.css" rel="stylesheet" th:href="@{/static/css/center.css}">
<link href="/static/css/neon.css" rel="stylesheet" th:href="@{/static/css/neon.css}">

<style>
    a:link {
        text-decoration: none;
    }
</style>
<body>

<div class="topnav">
    <a class="active" href="/">Main page</a>

    <a href="https://www.euro-football.ru/">Football news</a>
</div>

</body>
</html>