<!DOCTYPE HTML>

<html>
<link href="../static/css/button-small.css" rel="stylesheet" th:href="@{/css/button-small.css}">
<link href="../static/css/button.css" rel="stylesheet" th:href="@{/css/button.css}">
<link href="../static/css/top.css" rel="stylesheet" th:href="@{/css/top.css}">
<link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
<link href="../static/css/table.css" rel="stylesheet" th:href="@{/css/table.css}">
<link href="../static/css/center.css" rel="stylesheet" th:href="@{/css/center.css}">
<link href="../static/css/neon.css" rel="stylesheet" th:href="@{/css/neon.css}">

<style>
    a:link {
        text-decoration: none;
    }
</style>
<body>
<div class="topnav">
    <a class="active" href="/">Main page</a>
    <a th:href="'/team/'+${team_id}+ '/games' ">Play games</a>
    <a th:href="'/team/'+${team_id}+ '/players' ">Team line-up</a>
    <a th:href="'/team/'+${team_id}+ '/statistics' ">Team statistics</a>
</div>
</body>
</html>